body{
    background-image: url(../img/crud-bg.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center;
}

.box{
    margin: 30px;
    justify-content: center;
    align-items: center;
    
}
.modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding: 1.6rem 3rem;
    border: 3px solid black;
    border-radius: 5px;
    background: white;
    height: 600px;
    width: 500px;
    box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.2);
  }

  .form-btn{
    margin: 10px;
    border: 2px solid blue;
  }

  .error{
    color: red;
  }
  .tdimg{
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    justify-content:start;
  }

  ion-icon {
    font-size: 30px;
    align-items: right;
    text-align: right;
  }

  td{
    color: rgb(255, 255, 255);
    border: 2px rgb(105, 105, 33);
    font-size: 25px;
    font-weight: 300px;
    font-style: normal;
    font-family: tdfont;
  }
.container-fluid >a{
  font-family:pageFont;
  color: aqua;
  font-style: italic;
  font-size: 40px;
  margin-left: 20px;
}
th{
  font-size: 30px;
  background-color: aquamarine;
  color: rgb(195, 230, 3);
}

.table{
  border: 3px solid rgb(233, 233, 7);
  table-layout: fixed;
  font-family: pageFont;
}

@font-face {
  font-family: pageFont;
  src: url(../css/Aclonica-Regular.ttf);
}

@font-face {
  font-family: tdfont;
  src: url(../css/Belgrano-Regular.ttf);
}

.modal h1{
  font-family: tdfont;
  text-align: center;
  font-size: 35px;
  color: gold;
}

.modal h3{
  font-family: tdfont;
  font-size: 35px;
  color: gold;
}
